.additional {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    margin-bottom: 89px;
  }
}

.additional__caption {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 36px;
    line-height: 36px;
    margin: 41px 66px 81px;

    &::before {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 23px;
      left: -66px;
      background-color: $basic_green;

      @media (min-width: $desktop-width) {
        width: 69px;
        left: -109px;
      }
    }

    &::after {
      position: absolute;
      content: "";
      width: 326px;
      height: 2px;
      top: 23px;
      right: -363px;
      background-color: $basic_green;

      @media (min-width: $desktop-width) {
        width: 78%;
        right: -109px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin: 75px 110px 80px;
    width: 100%;
  }
}

.additional__list {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 929px;
    padding: 0 79px 0 77px;
  }
}

.additional__item {
  padding-bottom: 18px;
  border-bottom: 1px solid $gray_checkbox;

  @media (min-width: $tablet-width) {
    border: 1px solid $gray_checkbox;
    padding: 11px 37px 29px;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    border-left: none;
    border-right: none;
    padding: 11px 0 0 33px;
    column-gap: 13px;
  }
}

.additional__item:first-child {
  border-top: 1px solid $gray_checkbox;
}

.additional__item--tablet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr 95px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 2;
    grid-template-columns: 2fr 245px 68px;
  }
}

.additional__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 13px;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-bottom: 27px;
    text-transform: uppercase;
  }
}

.additional__text {
  font-family: $font-arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    text-align: right;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding-top: 17px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional__button {
  @media (min-width: $tablet-width) {
    width: 632px;
    height: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    height: 40px;
    margin-top: 5px;
  }
}

.promo {
  position: relative;
  padding: 38px 20px 33px;

  &::after {
    position: absolute;
    content: "";
    width: 78px;
    height: 80px;
    top: 96px;
    left: 120px;
    background-image: url("../img/catalog/icon-promo-mobile.svg");

    @media (min-width: $tablet-width) {
      top: 128px;
      left: 109px;
    }

    @media (min-width: $desktop-width) {
      top: 58px;
      left: 85px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 68px 30px 77px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.promo__text {
  position: absolute;
  font-family: $font-arial;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  bottom: 77px;
  margin: 0;
  padding: 0 77px 0 67px;

  @media (min-width: $tablet-width) {
    bottom: 145px;
    left: 252px;
    padding: 0 181px;
  }

  @media (min-width: $desktop-width) {
    bottom: 42px;
    left: 0;
    padding: 0 32px 0 44px;
  }
}

.promo__img {
  display: block;
  background-color: $line-gray-light;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 289px;
  }
}
