.address-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  padding: 29px 20px 26px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 62px 71px 37px;
    width: 626px;
  }

  @media (min-width: $desktop-width) {
    background-color: $white;
    position: absolute;
    transform: translate(110px, 95px);
    padding: 63px 85px 44px 76px;
    width: 409px;
    max-height: 105px;
    overflow: auto;
  }
}

.address-wrapper__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  width: 225px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address-wrapper__text {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: right;
    width: 159px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    margin-bottom: 18px;
  }
}
