.address-wrapper {
  display: flex;
  padding: 26px 20px;
  background-color: $gray_light_back;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 62px 71px 37px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    transform: translate(110px, 95px);
    padding: 66px 89px 52px 78px;
    width: 403px;
    height: 81px;
  }
}

.address-wrapper--background {
  background-color: $white;
}

.address-wrapper__title {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  flex-basis: 235px;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 26px;
    flex-basis: auto;
  }
}

.address-wrapper__text {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    text-align: right;
    width: 159px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.main-footer__maps {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
