.hero {
  @media (min-width: $desktop-width) {
    margin-bottom: 132px;
  }
}

.hero__wrapper {
  position: relative;
  width: 320px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 680px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 1121px;
  }
}

.hero__wrapper-text {
  @media (min-width: $tablet-width) {
    padding-left: 117px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 189px;
  }
}

.hero__title {
  position: relative;
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    padding-top: 78px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-image: url("../img/index/hero-background.png");
    background-size: 100% 302px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: 0;
      left: 0;
      transform: translate(74%, -21%);
      width: 720px;
      height: 694px;
      background-image: url("../img/index/hero-background-desktop.png");
      background-size: 720px 694px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-image: linear-gradient(to top, #67b438, #68b738);
    opacity: 85%;
    background-size: 100% 302px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: 0;
      left: 0;
      transform: translate(74%, -21%);
      width: 720px;
      height: 694px;
    }
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  padding: 27px 0 29px;

  @media (min-width: $tablet-width) {
    color: $black;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    padding: 40px 0 23px;
  }
}

.hero__button {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(41px);

  @media (min-width: $tablet-width) {
    bottom: 300px;
    left: 112px;
    transform: translateY(-423%);
  }

  @media (min-width: $desktop-width) {
    top: 311px;
    transform: translateX(78px);
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    width: 686px;
    height: 609px;
    padding-left: 81px;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    padding-left: 0;
  }
}
