main {
  padding: 0;
  margin: 0;
}

.hero__wrapper {
  position: relative;
  text-align: center;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 114px;
    margin: 0;
    width: 560px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    padding-left: 190px;
    width: auto;
  }
}

.hero__title {
  position: relative;
  margin: 0;
  padding-top: 27px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 60px;
    line-height: 60px;
    padding-right: 132px;
  }

  @media (min-width: $desktop-width) {
    width: 414px;
    padding-top: 55px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-image: url("../img/index/hero-background.png");
    background-size: 100% 302px;
    z-index: -1;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      top: 0;
      left: 0;
      transform: translate(73%, -24%);
      width: 720px;
      height: 694px;
      background-image: url("../img/index/hero-background-desktop.png");
      background-size: 720px 694px;
    }
  }
}

.hero__subtitle {
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
  margin: 0;
  padding: 47px 0 20px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
  }
}

.hero__image {
  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    top: 0;
    right: 0;
    transform: translateX(-163px);
    width: 552px;
    height: 499px;
    padding-bottom: 30px;
  }
}

.hero__button {
  position: absolute;
  bottom: 0;
  left: 20px;
  transform: translateY(61px);
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    top: 31%;
    left: 114px;
    transform: translateY(0);
  }

  @media (min-width: $desktop-width) {
    top: 54%;
    transform: translateX(76px);
  }
}
