.catalog-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.catalog {
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 28px;
  padding-left: 19px;
  padding-bottom: 40px;
  border-bottom: 1px solid $gray-border-catalog;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 30px 30px 163px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 110px 165px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    row-gap: 141px;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    column-gap: 81px;
    row-gap: 141px;
  }
}

.catalog__item {
  position: relative;
  display: grid;
  grid-template-columns: 138px 142px;
  grid-template-rows: 125px 40px;
  padding: 19px 20px 24px 20px;
  border-bottom: 1px solid $gray-border-catalog;

  @media (min-width: $tablet-width) {
    width: 249px;
    padding: 0 38px;
    background-color: #f2f2f2;
    height: 430px;
    align-items: center;
    justify-content: center;
    border: none;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 228px 71px;

    &:last-child {
      background-color: #ffffff;
      border: 2px solid #f2f2f2;

      @media (min-width: $tablet-width) {
        width: 245px;
        height: 424px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 162px;
    height: 432px;
    margin: 0;
    padding: 0 41px;

    &:last-child {
      width: 194px;
      height: 429px;
      padding: 0 23px;
    }
  }
}

.catalog__image--link-size {
  margin-left: 36px;
  margin-top: 15px;

  @media (min-width: $tablet-width) {
    margin-left: 46px;
    margin-top: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 11px;
    margin-top: 9px;
  }
}

.catalog__image--link {
  margin-left: 36px;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    margin-left: 47px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-top: 8px;
  }
}

.catalog__image--link-big {
  margin-left: 28px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 44px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
    margin-top: -22px;
  }
}

.catalog__image--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.catalog__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-top: -60px;
  }
}

.catalog__button {
  @media (min-width: $tablet-width) {
    width: 248px;
    height: 39px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
    margin-left: 11px;
  }
}

.product-details__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 2px 0 11px 2px;
  text-align: left;
  width: 85px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    padding-left: 55px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 21px;
    line-height: 21px;
    margin-top: 11px;
    margin-bottom: 17px;
  }
}

.product-details__title--tablet {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    padding-left: 21px;
  }
}

.product-details__text {
  font-family: $font-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
  width: 143px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    padding: 7px 0;
    border-bottom: 1px solid $gray_checkbox;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-left: 7px;
  }
}

.catalog__item--other {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
  border-bottom: 1px solid $gray-border-catalog;
}

.catalog__item--other-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 78px;
  margin-bottom: 8px;

  &::before {
    position: absolute;
    content: "";
    top: 20%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $gray-plus;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      height: 60px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 20%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $gray-plus;
    transform: translate(-50%, -50%) rotate(-90deg);

    @media (min-width: $tablet-width) {
      height: 60px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0 44px 0 47px;
    margin-top: 156px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 155px;
    padding: 0 10px;
  }
}

.catalog__item--other-text {
  font-family: $font-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px;
    text-align: center;
    margin: 0;
    margin-bottom: 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
  }
}

.catalog__button--other:last-child {
  background-color: $gray_light_back;
  color: $gray_text;

  &:hover {
    background-color: $gray-border-catalog;
  }

  &:active {
    background-color: $gray-border-catalog;
    color: $gray_text-opacity;
  }
}
