.catalog-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.catalog {
  margin-bottom: 26px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.catalog__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-top: 28px;
  padding-left: 19px;
  padding-bottom: 40px;
  border-bottom: 1px solid $gray-border-catalog;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 30px 30px 163px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 43px 110px 165px;
  }
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
    row-gap: 141px;
    column-gap: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    column-gap: 81px;
    row-gap: 141px;
  }
}

.catalog__item {
  position: relative;
  display: grid;
  grid-template-columns: 138px 142px;
  padding: 19px 20px 24px 20px;
  border-bottom: 1px solid $gray-border-catalog;

  @media (min-width: $tablet-width) {
    width: 249px;
    padding: 0 38px;
    background-color: $gray_light_back;
    align-items: center;
    justify-content: center;
    border: none;
    grid-template-columns: 1fr;

    &:last-child {
      background-color: $white;
      border: 2px solid $gray_light_back;

      @media (min-width: $tablet-width) {
        width: 245px;
        height: 424px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 162px;
    margin: 0;
    padding: 0 41px;

    &:last-child {
      width: 194px;
      height: 429px;
      padding: 0 23px;
    }
  }
}

.catalog__link {
  margin-left: 36px;
  margin-top: 24px;

  @media (min-width: $tablet-width) {
    margin-left: 47px;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 10px;
    margin-top: 8px;
  }
}

.catalog__link--size {
  margin-left: 36px;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-left: 46px;
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 11px;
    margin-top: 9px;
  }
}

.catalog__link--big {
  margin-left: 28px;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-left: 44px;
    margin-top: -18px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 8px;
    margin-top: -22px;
  }
}

.catalog__image {
  @media (min-width: $tablet-width) {
    margin-top: -60px;
    width: 163px;
    height: 174px;
  }
}

.catalog__image--big {
  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
  }
}

.catalog__product {
  @media (min-width: $tablet-width) {
    margin-top: 31px;
  }
}

.catalog__product--big {
  @media (min-width: $tablet-width) {
    margin-top: 0;
  }
}

.catalog__button {
  margin-top: 19px;

  @media (min-width: $tablet-width) {
    width: 251px;
    height: 39px;
    font-size: 16px;
    margin-top: 33px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    height: 40px;
    margin-left: 6px;
  }

  &--big {
    margin-top: 12px;
    @media (min-width: $tablet-width) {
      margin-top: 25px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 28px;
    }
  }
}

.catalog__item--other {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  align-items: center;
  border-bottom: 1px solid $gray-border-catalog;
}

.catalog__item--other-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 78px;
  margin-bottom: 8px;

  &::before {
    position: absolute;
    content: "";
    top: 20%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $gray-plus;
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      height: 60px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 20%;
    left: 50%;
    width: 2px;
    height: 30px;
    background-color: $gray-plus;
    transform: translate(-50%, -50%) rotate(-90deg);

    @media (min-width: $tablet-width) {
      height: 60px;
      top: 19%;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    padding: 0 44px 0 47px;
    margin-top: 164px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 155px;
    padding: 0 10px;
  }
}

.catalog__item--other-text {
  font-family: $font-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    padding: 0 10px;
    text-align: center;
    margin: 0;
    margin: 1px 0 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
  }
}

.catalog__button--other:last-child {
  background-color: $gray_light_back;
  color: $gray_text;

  &:hover {
    background-color: $gray-border-catalog;
  }

  &:active {
    background-color: $gray-border-catalog;
    color: $gray_text-opacity;
  }

  @media (min-width: $tablet-width) {
    margin-top: 37px;
    padding: 10px 0;
  }
}
