.example {
  background-color: $gray_back;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: $white;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.example--desktop {
  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    padding: 11px 100px 70px 110px;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin: 0;
  padding: 26px 20px 35px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    padding: 0;
    margin-bottom: 75px;
  }
}

.example__column {
  &:first-child {
    margin: 0 20px;
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin: 0 30px;
      margin-bottom: 70px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }
}

.example__text {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin: 60px 0 55px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding: 0;
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;

  @media (min-width: $tablet-width) {
    column-gap: 42px;
  }
}

.example__item {
  &:last-child {
    display: flex;
    padding-left: 46px;
    padding-top: 4px;
    column-gap: 3px;

    @media (min-width: $tablet-width) {
      flex-direction: column;
      row-gap: 9px;
      padding-left: 0;
      padding-top: 10px;
      margin-left: auto;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
      flex-direction: row;
      padding-top: 54px;
      justify-content: space-between;
      width: 326px;
    }
  }
}

.example__item-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 14px 42px 15px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    padding: 13px 56px 18px;
  }
}

.example__item-title--big-padding {
  padding: 14px 21px 15px 19px;

  @media (min-width: $tablet-width) {
    padding: 13px 29px 18px 29px;
  }
}

.example__item-text {
  position: relative;
  font-size: 12px;
  line-height: 12px;
  font-family: $font-arial;
  margin: 0;
  margin-left: 20px;
  width: 82px;
  text-align: center;
  margin-top: -8px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
    width: 136px;
    background-color: $white;
    margin-left: 13px;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.example__item-desc {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }
}

.example__image {
  @media (min-width: $desktop-width) {
    margin-top: -186px;
  }
}

.example__image-before {
  @media (min-width: $tablet-width) {
    width: 590px;
    height: 540px;
  }
}

.example__image-after {
  display: none;
}
