.example {
  background-color: $gray_back;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    background: none;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 0 110px;
    margin-top: 200px;
    background-color: $gray_back;
    display: flex;
    justify-content: space-between;
  }
}

.example--wrapper {
  @media (min-width: $desktop-width) {

    &:first-child {
      flex-basis: 436px;
    }

    &:last-child {
      flex-basis: 690px;
    }
}
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  margin: 0;
  padding: 30px 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    transform: translateY(-175px);
  }

}

.example__text {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
   width: 436px;
   padding-top: 70px;
  }
}

.example__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    padding-top: 70px;
   }
}

.example__item {
  padding-left: 55px;

  @media (min-width: $tablet-width) {
    padding-left: 0;

    &:first-child {
      flex-grow: 1;
    }

    &:nth-child(2) {
      flex-grow: 5;
    }

    &:last-child {
      margin-left: auto;
    }
  }

}

.example__item-title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.example__item-text {
  font-size: 12px;
  line-height: 12px;
}

.example__item-desc {
  font-size: 14px;
  line-height: 20px;
}
