.features {
  padding-top: 20px;
}

.features__item {
  margin: auto 20px;
  background-color: $gray_light_back;
}

.features__item-text {
  position: relative;
}

.features__title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-align: center;
  padding-top: 30px;
}

.features__item-image {
  position: absolute;
  top: 22px;
  left: 11px;
}

.features__text {
  font-family: "Arial", sans-serif;
  width: 227px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 20px;
}

.features__link {
  position: relative;
  display: block;
  padding: 25px 20px;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 20px;
    width: 240px;
    height: 2px;
    background-color: $line-gray;
  }
}

.features__link-icon {
  padding-left: 10px;
}
