.features__list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 110px 25px 110px;
    column-gap: 80px;
  }
}

.features__item {
  position: relative;
  background-color: $gray_light_back;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    padding: 72px 49px 60px;
  }
}

.features__title {
  margin: 0;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding-top: 8px;
  padding-left: 26px;

  @media (min-width: $tablet-width) {
    text-align: left;
    font-size: 36px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    padding-bottom: 50px;
    padding-left: 60px;
  }
}

.features__title--slim::before {
  content: "";
  position: absolute;
  top: 21px;
  left: 8%;
  width: 50px;
  height: 53px;
  display: block;
  background: url("../img/index/features-cat-slim.svg");
  background-size: 50px 53px;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 63%;
    width: 200px;
    height: 211px;
    background-size: 200px 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 54px;
    width: 100px;
    height: 106px;
    background-size: 100px 106px;
  }
}

.features__title--pro::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 4%;
  width: 67px;
  height: 50px;
  display: block;
  background: url("../img/index/features-cat-pro.svg");
  background-size: 67px 50px;

  @media (min-width: $tablet-width) {
    top: 97px;
    left: 58%;
    width: 268px;
    height: 200px;
    background-size: 268px 200px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
    left: 45px;
    width: 134px;
    height: 100px;
    background-size: 134px 100px;
  }
}

.features__item-image {
  position: absolute;
  top: 22px;
  left: 11px;
}

.features__text {
  font-family: $font-arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding: 20px;
  margin: 0;
  border-bottom: 1px solid $line-gray-light;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    border: none;
    padding-top: 27px;
    padding-right: 266px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.features__link {
  position: relative;
  display: block;
  padding: 20px 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }


  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 110px;
    width: 24px;
    height: 12px;
    background: url("../img/index/icon-arrow-link.svg");
    display: block;

    @media (min-width: $desktop-width) {
      bottom: 8px;
      left: 138px;
    }
  }
}
