.form__section {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 67px 54px 71px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 112px;
  }
}

.form__title {
  padding-left: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 28px 70px 54px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-top: 43px;
  }
}

.form__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 14px;
  margin: 0;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 56px;
  }
}

.form__block--wrapper {
  margin-bottom: 30px;

  &:last-child {
    display: block;
    margin: 0;

    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__block {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
  border: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 0 0 43px;
  }
}

.form__block--padding {
  padding: 18px 0;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 0 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 51px;
  }
}

.form__block div {
  padding: 7px 0;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 10px 0;
  }
}

.form__contact {
  position: relative;
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.form__field--icon-email {
  position: absolute;
  width: 18px;
  height: 14px;
  left: 245px;
  top: 23px;
  border: none;
  background-image: url("../img/form/icon_email.svg");
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 27px;
    left: 593px;
  }
}

.form__field--icon-tel {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 247px;
  top: 19px;
  border: none;
  background-image: url("../img/form/icon_phone.svg");
  background-color: transparent;

  @media (min-width: $tablet-width) {
    top: 29px;
    left: 594px;
  }
}

.form__list--checkbox {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  justify-content: space-around;

  @media (min-width: $tablet-width) {
    padding: 18px 0 19px 37px;
    border: 1px solid $gray_checkbox-border;
    row-gap: 21px;
  }
}

.form__label {
  line-height: 18px;
  color: $gray_text;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--sircle {
  padding-left: 46px;
  position: relative;
}

.form__checkbox:checked ~ .form__label--sircle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic_green;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 5px;
    left: 0;
  }
}

.form__label--sircle::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $gray_checkbox;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -7px;
    left: -12px;
  }
}

.form__field {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 5px 13px 16px;
  margin-left: 12px;
  flex: 1;
  text-transform: uppercase;
  border: 1px solid $gray_checkbox;

  @media (min-width: $tablet-width) {
    padding: 9px 13px 10px 23px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__subtitle {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 24px;

  &::after {
    position: absolute;
    content: "";
    width: 35%;
    height: 2px;
    top: 16px;
    right: -19px;
    background-color: $basic_green;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.form__field--big {
  padding-bottom: 129px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    padding-bottom: 140px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__text {
  text-align: center;
  font-size: 14px;
  font-family: $font-arial;
  margin: 0;
  padding: 21px 0 33px;
}

.form__list--tablet {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-top: 0;
    row-gap: 0;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    width: 100%;
  }
}

.form__label--square {
  padding-left: 46px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    padding-left: 58px;
  }
}

.form__block:last-of-type {
  @media (min-width: $tablet-width) {
    padding: 10px 0 17px;
  }
}

.form__checkbox:checked ~ .form__label--square::before {
  position: absolute;
  content: "";
  top: 0;
  left: 8px;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/cheked.svg");
  z-index: 1;

  @media (min-width: $desktop-width) {
    top: 5px;
    left: 13px;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
  }
}

.form__label--square::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;

  @media (min-width: $desktop-width) {
    width: 40px;
    height: 40px;
  }
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 41px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    float: left;
    width: 282px;
    height: 52px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
    margin-top: 11px;
  }
}
