.form__section {
  padding: 0 20px;

}

.form__title {
  padding-left: 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.form__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 14px;
  margin: 0;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

}

.form__block {
  padding: 9px 0 0;
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.form__block--padding {
  padding: 20px 0;

}

.form__block div {
  padding: 9px 0;
  display: flex;
}

.form__list--checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 118px;
}

.form__label {
  line-height: 18px;
  color: $gray_text;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label--sircle {
  padding-left: 50px;
  position: relative;
}

.form__checkbox:checked ~ .form__label--sircle::before {
  position: absolute;
  content: "";
  top: 0;
  left: 9px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic_green;
  z-index: 1;
}

.form__label--sircle::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid $gray_checkbox;
}

.form__field {
  padding: 11px;
  padding-right: 3px;
  margin-left: 12px;
  flex: 1;
  text-transform: uppercase;
  border: 1px solid $gray_checkbox;

}

.form__subtitle {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin: 10px 0 32px;
}

.form__field--big {
  padding-bottom: 123px;
  margin: 0;
  font-size: 12px;
}

.form__text {
  text-align: center;
  font-size: 14px;
  font-family: $font-arial;
  margin: 0;
  padding: 21px 0 33px;
}


.form__label--square {
  margin-bottom: 23px;
  padding-left: 50px;
  position: relative;
}

.form__checkbox:checked ~ .form__label--square::before {
  position: absolute;
  content: "";
  top: 0;
  left: 8px;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/cheked.svg");
  z-index: 1;
}

.form__label--square::after {
  position: absolute;
  content: "";
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.form__button {
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
}
