.main-nav {
  position: relative;
  flex-grow: 1;
}

.main-nav__list {

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
  }
}

.main-nav__item {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid $line-gray-light;

  @media (min-width: $tablet-width) {
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  a {
    @media (min-width: $desktop-width) {
      color: $white;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.item--modifier {
  border: none;
}
