.main-header {
  @media (min-width: $tablet-width) {
    display: flex;
    padding: 18px 30px 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 52px 93px 33px 110px;
    position: relative;
  }
}

.main-header__wrapper {
  padding: 13px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line-gray-light;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-header__logo {
  display: flex;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }
}

.main-header__logo--mobile-cat {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

picture {
  display: flex;
  align-items: center;
}

.main-header__logo--mobile {
  display: flex;
  align-self: center;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__toggle {
  position: relative;
  width: 24px;
  height: 1px;
  border: none;
  margin-top: -2px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    width: 24px;
    height: 1px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: -7px;
    left: 0;
    width: 24px;
    height: 1px;
  }

  &--open {
    background-color: transparent;

    &::before {
      background-color: $black;
      top: 0;
      transform: rotate(45deg);
    }

    &::after {
      background-color: $black;
      bottom: 0;
      transform: rotate(-45deg);
    }
  }

  &--close {
    background-color: $black;

    &::before {
      background-color: $black;
    }

    &::after {
      background-color: $black;
    }
  }
}

.modal-close {
  display: none;
}

.modal-show {
  display: block;
}
