.main-footer__maps--wrapper {
  background-image: url("../img/maps-background/maps-background-mobile.jpg");
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/maps-background/maps-background-tablet.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/maps-background/maps-background-desktop.jpg");
  }
}

.main-footer__iframe {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
