.product-details__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 2px 0 11px 2px;
  text-align: left;
  width: 85px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 140px;
    padding-left: 55px;
    text-transform: uppercase;
    margin-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 21px;
    line-height: 21px;
    margin-top: 11px;
    margin-bottom: 15px;
  }
}

.product-details__title--tablet {
  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    padding-left: 21px;
  }
}

.product-details__text {
  font-family: $font-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  display: flex;
  justify-content: space-between;
  width: 143px;

  @media (min-width: $tablet-width) {
    width: 250px;
    font-size: 16px;
    padding: 7px 0;
    border-bottom: 1px solid $gray_checkbox;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding-left: 7px;
  }
}
