.social {
  text-align: center;
  padding: 40px 20px;
  background-color: $gray_light_back;

  @media (min-width: $tablet-width) {
    padding: 52px 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 110px;
  }
}

.social__img {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;

  & img {
    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 60%;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-end;
    margin: 0;
  }
}

.social__link-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 22px 57px 15px;
  border-top: 1px solid $line-gray-light;
  border-bottom: 1px solid $line-gray-light;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 152px;
    padding-left: 26px;
    border: none;
  }
}

.social__link-icon {
  fill: #666666;

  &:hover {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    fill-opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 25px;

    &:first-child {
      width: 28px;
      height: 33px;
    }
  }
}

.social__site {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 163px;
    align-items: center;
  }
}

.social__site-link {
  font-family: $font-arial;
  line-height: 18px;
  align-items: center;
  display: flex;

  &:active {
    opacity: 0.3;
  }
}

.social__site-logo {
  &:hover {
    fill: $basic_green;
  }

  &:active {
    fill: $basic_green;
    opacity: 0.3;
  }
}
