.social {
  text-align: center;
  padding-top: 40px;
  background-color: $gray_light_back;
}

.social__link-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 45px 75px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;
    left: 40px;
    width: 240px;
    height: 2px;
    background-color: $line-gray;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 240px;
    height: 2px;
    background-color: $line-gray;
  }
}

.social__site {
  display: flex;
  justify-content: space-around;
}

.social__site-link {
  font-family: $font-arial;
  line-height: 18px;
}
