.social {
  text-align: center;
  padding: 39px 20px 22px;
  background-color: $gray_light_back;

  @media (min-width: $tablet-width) {
    padding: 54px 0;
    display: flex;
    justify-content: space-between;
  }
}

.social__wrapper {
  @media (min-width: $tablet-width) {
    width: 768px;
    display: flex;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.social__img {
  display: flex;
  justify-content: center;
  margin-bottom: 31px;

  &:hover {
    opacity: 80%;
  }

  &:active {
    opacity: 60%;
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    margin: 0 110px 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 291px 0 110px;
  }
}

.social__link-wrapper {
  width: 160px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 23px 59px 20px 56px;
  border-top: 1px solid $line-gray-light;
  border-bottom: 1px solid $line-gray-light;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 155px;
    border: none;
    align-items: center;
    margin-right: 88px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 264px;
    width: 152px;
  }
}

.social__link {
  &:hover {
    .social__link-icon {
      stroke: $basic_green;
    }

    .social__link-icon--facebook {
      stroke: $basic_green;
    }
  }

  &:active {
    .social__link-icon {
      opacity: 0.3;
      stroke: $basic_green;
    }

    .social__link-icon--facebook {
      opacity: 0.3;
      stroke: $basic_green;
    }
  }
}

.social__link-icon--vkontakte {
  @media (min-width: $tablet-width) {
    width: 30px;
    height: 22px;

    @media (min-width: $desktop-width) {
      height: 24px;
    }
  }
}

.social__link-icon--instagram {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}

.social__link-icon--facebook {
  fill: transparent;
  stroke: $stroke-icon;

  @media (min-width: $tablet-width) {
    width: 25px;
    height: 33px;
  }

  @media (min-width: $desktop-width) {
    height: 32px;
  }
}

.social__site {
  width: 280px;
  margin: 0 auto;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 162px;
    align-items: center;
  }
}

.social__site-logo {
  fill: $stroke-icon;
}

.social__site-link {
  font-family: $font-arial;
  line-height: 18px;
  align-items: center;
  display: flex;
  justify-content: space-between;

  &:hover {
    & .social__site-logo {
      fill: $basic_green;
    }
  }

  &:active {
    opacity: 0.3;

    & .social__site-logo {
      fill: $basic_green;
    }
  }

  @media (min-width: $tablet-width) {
    min-width: 162px;
  }
}
