.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  width: 280px;
  height: 40px;
  background-color: #65b738;
  color: #ffffff;
  text-decoration: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: $opacity-white;
    }
  }
}
